* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=2000");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.card{
   padding: 2px;
   margin: 2px;
}
.col{
    box-sizing: border-box;
}
.card-body{
    box-sizing: content-box;
    background-color: bisque;
    
}
.nav-item:hover{
    background-color: rgb(255, 127, 133);
    border: 1px solid red;
}