*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
main{
    background-color:yellow;
}
.card-body{
    background-color:gold;
}
body{
    background-image: url("https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=2000");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}