*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url("../images/WELCOME\ TO\ KARYAVATTOM\ \(1\).gif");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.nav-item{
    padding: 1rem;
    margin: 1rem;
}
.nav-item:hover{
    background-color: rgb(255, 127, 133);
    border: 1px solid red;
}
